<h1>
  Easy hr
</h1>

<div class="row">
  <div class="col-md-12">
        <button (click)="previous()">Previous</button>
        <button (click)="next()">Next</button>

  </div>
  
</div>

<div class="row">
  <div class="col-md-12" >
        <form>
          
          <div *ngIf="currentQuestion$ | async as currentQuestion">
            {{currentQuestion.questionText}}
          </div>

          <div>
            <label>Answer</label>
            <input [(ngModel)]="answer" type="text" name="answer">
          </div>

          <button class="btn btn-primary" (click)="submit(answer)">Submit</button>

        </form>
        
  </div>
</div>